.signup-scroll {
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
  scroll-behavior: smooth;
}

.signup-scroll::-webkit-scrollbar {
  width: 6px;
}

.signup-scroll::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

.signup-scroll::-webkit-scrollbar-track {
  background: transparent;
}
